body{
    background-image: url(../images/backgroundbody.gif);
    background-size: cover;
    display: flex;
    align-items: center;
    align-content: center;
    
    
}

.sonic {
    width: 80px;
    height: 80px;
    background-image: url(../images/sonic.gif);
    background-size: contain;
    position: absolute;
    bottom: 110px;
    left: 50px;
}

.sonicRoll {
    width: 80px;
    height: 80px;
    background-image: url(../images/sonicRoll.gif);
    background-size: contain;
    position: absolute;
    bottom: 110px;
    left: 50px;
    
}

.inimigos {
    position: absolute;
    width: 60px;
    height: 60px;
    bottom: 110px;
    background-image: url(../images/carangueijo1.gif);
    background-size: contain;
}

.game-over{
    text-align: center;
    color: #666666;
    margin-top: 50px 0;
    font-family: Arial;
}

.start-button {
    position: relative;
    top: 9rem;
    cursor: pointer;
    text-align: center;
    color: white;
    background-image: url(../images/fundostart.png);
    background-size: cover;
    width: 502px;
    height: 300px;
    margin-left: auto;
    margin-right: auto;
     
}

.imagem {
    width: 100px;
    height: 100px;
    background-size: contain;
}



@keyframes sliderleft{
    from{
        background-position: 70000%;
    }
    to {
        background-position: 0%;
    }
}

.background{
    position: absolute;
    top: 50px;
    left: 0px;
    background-image: url(../images/background2.png);
    background-repeat: repeat-x;
    animation: sliderleft 900s infinite linear;
    -webkit-animation: sliderleft 900s infinite linear;
    width: 100%;
    height: 498px;
    
    
}
.placar{
    left: 15px;
    font-size: 120px;
    color:  white;
    margin-bottom: 0px;
    text-align: right;
    position: absolute;
    bottom: 0;
    font-family: Pixels;
}

.resultado{
    text-align: center;
}