

body {
    text-align: center;
    color: #FBF20F;
    font-weight: bold;
    background-image: url("../images/background.gif");
    background-size: cover
    
    }

h1{
    font-size: 160px;
    font-family: Pixels;
    margin-top: -50px;
    margin-bottom: -5px; 
    
}

 
.linha{
    display: flex;
    flex-flow: row wrap;
    
    
    }

    .coluna-30 {
        width: 30%;
        margin-top: 12%;
        
        
    }
    .coluna-70 {
        width: 70%;
        
    }

    
  


.quadrado{
    background-image: url("../images/box.png");
    background-size: cover;
    text-align: right;
    width: 70px;
    display: inline-block;
    padding: 40px;
    font-size: 60px;
    margin: 5px;
    cursor: pointer;
    color: transparent;
    opacity: 1;
    

    
}

 
   

.personagem{
    background-size: auto;
    text-align: center;
    height: 60px;
    
}
.jogador, .vencedor {
    font-size: 80px;
    margin-top: 10px;
    color: #FBF20F;
    text-align: left;
    margin-left: 50px;
    font-family: Pixels;
   
    
    

}

.botao{
    margin-top: 10px;
}